/*------normalize--------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  padding: o;
  margin: 0;
  bottom: 0;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000000;
  background-color: #E5E5E5;
  box-sizing: border-box;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*----------fonts------------*/

.font1 {
  font-family: 'Roboto', sans-serif;
}


@font-face {
  font-family: 'Liberation Serif';
  src: url("LiberationSerif-Regular.eot");
  src: url("LiberationSerif-Regular.eot?#iefix") format("embedded-opentype"), url("LiberationSerif-Regular.woff2") format("woff2"), url("LiberationSerif-Regular.woff") format("woff"), url("LiberationSerif-Regular.ttf") format("truetype"), url("LiberationSerif-Regular.svg#LiberationSerif-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}
